<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.webServer>
    <directoryBrowse enabled="false" />
    <rewrite>
      <rules>
        <rule name="Angular Routes" stopProcessing="true">
          <match url=".*" />
          <conditions logicalGrouping="MatchAll">
            <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
            <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />   
          </conditions>
          <action type="Rewrite" url="/FieldPKS/Dashboard/" />
        </rule>
      </rules>
    </rewrite>
    <httpProtocol>
      <customHeaders>
        <remove name ="X-Powered-By"/>
        <add name="X-FRAME-OPTIONS" value="SAMEORIGIN"/>
        <add name="X-Content-Type-Options" value="nosniff"/>
        <add name="Strict-Transport-Security" value="max-age=7776000"/>
        <add name="X-Permitted-Cross-Domain-Policies" value="master-only"/>
        <add name="Content-Security-Policy" value="block-all-mixed-content; base-uri 'self'; frame-ancestors 'self'; form-action 'self'; object-src 'none'; font-src 'self'; img-src * 'self' data: https: blob:;" />  
		    <add name="Cache-control" value="no-store, no-cache, max-age=0, must-revalidate" />
        <add name="Pragma" value="no-cache" />
        <add name="Expires" value="-1" /> 
        <add name="X-XSS-Protection" value="1; mode=block" />
      </customHeaders>
    </httpProtocol> 
    <security>
      <requestFiltering removeServerHeader ="true" allowHighBitCharacters="false">
        <requestLimits maxAllowedContentLength="52428800">
          <headerLimits>
            <add header="Content-type" sizeLimit="100"/>
          </headerLimits>
        </requestLimits>
        <fileExtensions allowUnlisted="false">          
          <add fileExtension=".html" allowed="true" />
          <add fileExtension=".htm" allowed="true" /> 
          <add fileExtension=".xml" allowed="true" /> 
          <add fileExtension=".json" allowed="true" />
          <add fileExtension=".js" allowed="true" />
          <add fileExtension=".css" allowed="true" />
          <add fileExtension=".ico" allowed="true" />
          <add fileExtension=".svg" allowed="true" />
          <add fileExtension=".gif" allowed="true" />
          <add fileExtension=".png" allowed="true" />
          <add fileExtension=".ttf" allowed="true" />
          <add fileExtension=".woff" allowed="true" />
          <add fileExtension="." allowed="true" />
        </fileExtensions>
        <verbs>
          <add verb="PATCH" allowed="false" />
          <add verb="HEAD" allowed="false" />
          <add verb="OPTIONS" allowed="false" />
          <add verb="GET" allowed="true" />
          <add verb="POST" allowed="true" />
          <add verb="PUT" allowed="true" />
          <add verb="DELETE" allowed="true" />
        </verbs>
      </requestFiltering>
    </security> 
  </system.webServer>
  <system.web>
    <compilation debug="false"  />
    <httpRuntime maxRequestLength="51200" executionTimeout="300" enableVersionHeader="false" />
    <httpCookies requireSSL="true" httpOnlyCookies="true"/>
  </system.web>
</configuration>