<div class="component-wrapper">
    <div class="d-flex justify-content-start align-items-center" *ngIf="isActive">
        <div class="d-flex option-holder" *ngIf="!isDropdownActive" (click)="showDropdown()">
            <span class="initial-placeholder">{{_placeholder}}</span>
            <button class="chevron-down icon" (click)="$event.stopPropagation(); showDropdown()"><span class="icomoon icon-Clock"></span></button>
        </div>
        <div class="editable col-12" *ngIf="isDropdownActive">
            <input type="text" name="search" [(ngModel)]="searchInput" class="fwm-selector form-control" placeholder="{{_placeholder}}" #search>
            <button class="chevron-up icon" (click)="$event.stopPropagation(); hideDropdown()"><span class="icomoon icon-Clock"></span></button>
            <div class="fwm-dropdown__item-list col-12">
                <ng-container *ngIf="(timerList | filterBy: ['value']: searchInput) as result">
                    <div class="ng-star-inserted cursor" *ngFor="let item of result; let i = index">
                        <div class="list-options clearfix" (click)="$event.stopPropagation(); onSelectOption(item, $event)">
                            <div class="float-start">
                                <span class="form-check-label">{{item.value}}</span>
                            </div>
                        </div>
                    </div>
                    <span class="result-not-found" *ngIf="result.length === 0">No Result Found</span>
                </ng-container>
            </div>
        </div>
    </div>
    <div class="d-flex justify-content-start align-items-center" *ngIf="!isActive">
        <div class="d-flex disabled-option-holder">
            <span class="disabled-initial-placeholder">{{_placeholder}}</span>
            <button class="chevron-down disabled-icon"><span class="icomoon icon-Clock"></span></button>
        </div>
    </div>
</div>